<html>
    <head>
        <title>City: {{ entry.name }}</title>
    </head>
    <body>
        <h1>{{ entry.name }}</h1>
        <p>You can find {{ entry.name }} at {{ entry.center.lat }} &amp; {{ entry.center.lon }}.</p>
    </body>
</html>
